* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #17100E;
  line-height: 1.375;
  background-color: #FFFAFA;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:not(.btn) {
  color: #0070B8;
}

.container {
  max-width: 1198px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn--blue-white {
  background-color: #0070B8;
  color: #fff;
}
.btn--blue-white:hover {
  color: #fff;
  background-color: rgba(0, 112, 184, 0.85);
}
.btn--white-blue {
  background-color: #fff;
  border: 1px solid #0070B8;
  color: #0070B8;
}
.btn--white-blue:hover {
  color: #fff;
  background-color: #0070B8;
}
.btn--change-plan {
  width: 241px;
}
.btn--google {
  border: 1px solid #0070B8;
  background: #fff;
  color: #41474A;
}
.btn--google:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/google.svg) no-repeat 50% 50%;
  margin-right: 26px;
  margin-left: -50px;
}
.btn--non-active {
  border: 1px solid var(--color-grey-83, #D3D3D3);
  color: #888888;
  background-color: transparent;
}
.btn--grey-white {
  background-color: #D3D3D3;
  color: #fff;
}

.note {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: center;
  color: #41474A;
}

.btn + .note {
  margin-top: 24px;
}

.light-blue-bg, .filters, .testimonials__card, .how-it-works__card {
  background-color: rgba(0, 112, 184, 0.3);
}

@media (max-width: 767px) {
  .btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .btn--free {
    margin-top: 32px;
  }
  .note {
    font-size: 14px;
  }
  .mobile-invisible {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .btn {
    height: 56px;
  }
  .btn--free {
    margin-top: 64px;
    width: 260px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .note {
    font-size: 16px;
  }
  .note--small {
    font-size: 14px;
  }
  .mobile-visible {
    display: none !important;
  }
}
h1,
h2,
h3,
h5 {
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 32px;
}
h1.small {
  text-transform: none;
}

h2 {
  margin-bottom: 24px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
}
h2.small {
  text-shadow: none;
  text-transform: none;
}

h3 {
  margin-bottom: 32px;
}

h4 {
  margin-bottom: 24px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-grey {
  color: #888888;
}

.text-dark-grey {
  color: #41474A;
}

.text-light-grey {
  color: #888888;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 26px;
    text-align: center;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 42px;
  }
  h1.small {
    font-size: 32px;
  }
  h2 {
    font-size: 40px;
  }
  h2.small {
    font-size: 32px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 50px;
  }
  h1.small {
    font-size: 32px;
  }
  h2 {
    font-size: 48px;
  }
  h2.small {
    font-size: 32px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 22px;
  }
}
.header {
  padding: 8px 0;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
          box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
  z-index: 10;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header a:not(.btn):not(.logo),
.header .language__name {
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.4px;
  color: #17100E;
  text-decoration: none;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.header a:not(.btn):not(.logo):hover,
.header .language__name:hover {
  color: #0070B8;
}
.header a:not(.btn):not(.logo):hover:after,
.header .language__name:hover:after {
  border-top-color: #0070B8;
}
.header .language__name:after {
  content: "";
  position: relative;
  top: 15px;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 5px solid #17100E;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.header-user {
  position: relative;
}
.header-user__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: -0.04px;
  line-height: 1.2;
  text-align: right;
  cursor: pointer;
}
.header-user__name {
  color: #0070B8;
  font-weight: 500;
}
.header-user__dropdown {
  list-style: none;
}
@media (max-width: 767px) {
  .header-user__btn {
    display: none;
  }
  .header-user__dropdown {
    display: block !important;
    text-align: center;
  }
  .header-user__dropdown a {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .header-user__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 8px 0;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
            box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
    background-color: #fff;
    border-radius: 10px;
  }
  .header-user__dropdown.active {
    display: block;
  }
  .header-user__dropdown li {
    padding: 8px 0;
  }
}

.language {
  position: relative;
}
.language__list {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  padding: 8px 0;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
          box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
  display: none;
}
.language__list li {
  padding: 8px 0;
}
.language__list.active {
  display: block;
}
.language__flag {
  width: 16px;
  margin-right: 8px;
}

.logo img {
  display: block;
}

@media (max-width: 767px) {
  .header {
    position: relative;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .mobile-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
            box-shadow: 0px 8px 24px 0px rgba(0, 112, 184, 0.21);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .main-nav a {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .menu-btn {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 10px;
  }
  .menu-btn em, .menu-btn:before, .menu-btn:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #17100E;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-btn:before, .menu-btn:after {
    content: "";
  }
  .menu-btn em {
    top: 50%;
    margin-top: -1px;
  }
  .menu-btn:before {
    top: 0;
  }
  .menu-btn:after {
    bottom: 0;
  }
  .opened .menu-btn em {
    opacity: 0;
  }
  .opened .menu-btn:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .opened .menu-btn:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (min-width: 768px) {
  .header .btn {
    margin-left: 20px;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .main-nav .mobile-invisible {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo {
    margin-right: 20px;
  }
}
.main-section {
  padding-top: 81px;
  padding-bottom: 81px;
}

@media (max-width: 767px) {
  .content {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .content {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .content {
    font-size: 32px;
  }
}
.cards {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.cards__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 36px;
  background-color: #17100E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cards__img {
  background: url(../img/cards/bg.svg) no-repeat 50% 50%/contain;
  height: 185px;
  position: relative;
  overflow: hidden;
}
.cards__img img {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}
.cards__img img.cards__github {
  top: 57%;
}
.cards__title {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 1279px) {
  .cards__item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cards__title {
    font-size: 18px;
  }
  .cards__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards__item {
    width: 100%;
    max-width: 360px;
  }
  .cards__img {
    width: 100%;
    height: 220px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cards__img img {
    height: 120px;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .cards__item {
    padding-left: 60px;
    padding-right: 60px;
  }
  .cards__title {
    font-size: 24px;
  }
}
.choose-us {
  padding-top: 32px;
  padding-bottom: 32px;
}
.choose-us__link {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
  color: #0070B8;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.choose-us__link:after {
  content: "";
  width: 34px;
  height: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background: url(../img/icons/arrow-right-blue.svg) no-repeat 50% 50%/cover;
}
.choose-us__link--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.choose-us__link--reverse:after {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.choose-us__steps {
  padding-bottom: 90px;
}
.choose-us__row--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.choose-us__line-wrap {
  width: 100%;
  height: 4px;
  position: relative;
  margin-top: 29px;
  margin-bottom: 29px;
  z-index: 1;
}
.choose-us__line {
  width: 100%;
  height: 4px;
  background-color: #0070B8;
}
.choose-us__img {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.choose-us__img--bg {
  background-color: #17100E;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.choose-us__img--database {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-us__img--hirring {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 15px;
}
.choose-us__ellipce {
  position: absolute;
}
.choose-us__number {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 48px;
  font-weight: 700;
  color: #17100E;
}
.choose-us__card1, .choose-us__card3 {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.choose-us h3 {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .choose-us {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .choose-us__row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .choose-us__img {
    margin-top: 32px;
    height: 250px;
  }
  .choose-us__hirring {
    width: 250px;
  }
  .choose-us__database {
    width: calc(100% - 30px);
  }
  .choose-us__ellipce {
    width: 200px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .choose-us__line-wrap:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 530px;
    background: #FFFAFA url(../img/top.svg) no-repeat 50% 100%;
    z-index: -1;
  }
  .choose-us__line-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -534px;
    height: 1812px;
    background: url(../img/iceberg.svg) no-repeat 50% 0;
    z-index: -1;
  }
  .choose-us__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .choose-us__text--database {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .choose-us__text--database > div {
    width: 270px;
  }
  .choose-us__text--hirring {
    padding-left: 20px;
  }
  .choose-us__row {
    position: relative;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .choose-us__row:last-child {
    padding-top: 25px;
  }
  .choose-us__row--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .choose-us__row--links {
    padding-bottom: 10px;
  }
  .choose-us__row:not(.choose-us__row--links) {
    z-index: 2;
  }
  .choose-us__img {
    height: 314px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .choose-us__img, .choose-us__text {
    width: 300px;
    height: 220px;
  }
  .choose-us__hirring {
    width: 220px;
  }
  .choose-us__database {
    width: 260px;
  }
  .choose-us__ellipce {
    width: 150px;
    top: 35px;
    left: 28px;
  }
  .choose-us__line-wrap:before {
    top: -445px;
    opacity: 0.5;
  }
  .choose-us__line-wrap:after {
    height: 465px;
  }
  .choose-us__line-wrap:before, .choose-us__line-wrap:after {
    background-size: 550px auto;
  }
}
@media (min-width: 1280px) {
  .choose-us__img, .choose-us__text {
    width: 442px;
  }
  .choose-us__ellipce {
    top: 14px;
    left: 48px;
  }
}
.how-it-works {
  padding-top: 40px;
  padding-bottom: 40px;
}
.how-it-works__card {
  margin-bottom: 64px;
  border-radius: 36px;
}
.how-it-works__row {
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-it-works h4 {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .how-it-works__card {
    padding: 20px;
  }
  .how-it-works__row {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .how-it-works__card {
    padding: 40px;
  }
  .how-it-works__tired, .how-it-works__happy {
    margin-right: 40px;
  }
  .how-it-works__tired {
    width: 75px;
  }
  .how-it-works__happy {
    width: 150px;
    margin-right: 40px;
  }
  .how-it-works__row + p {
    padding-top: 16px;
  }
}
@media (min-width: 1280px) {
  .how-it-works__card {
    padding: 69px 80px 80px;
  }
  .how-it-works__card p {
    font-size: 24px;
  }
  .how-it-works__tired {
    width: 90px;
    margin-right: 122px;
  }
  .how-it-works__happy {
    width: 191px;
    margin-right: 102px;
  }
  .how-it-works__row + p {
    padding-top: 40px;
  }
}
.testimonials-section {
  padding-top: 64px;
}

.row--testimonials {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.row--testimonials h3 {
  margin-bottom: 0;
}

.testimonials {
  position: relative;
  width: 100%;
  font-size: 16px;
}
.testimonials__card {
  height: 100%;
  padding: 48px 24px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.testimonials__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.testimonials__photo {
  width: 83px;
  height: 83px;
  margin-right: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__photo img {
  max-width: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials p {
  font-size: inherit;
}
.testimonials .slick-list {
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 8px;
  overflow: hidden;
}
.testimonials .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonials .slick-slide {
  margin-right: 8px;
  margin-left: 8px;
  height: auto;
}
.testimonials .slick-arrow {
  position: absolute;
  bottom: calc(100% + 40px);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icons/arrow-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -99999px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
}
.testimonials .slick-arrow.slick-prev {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
@media (max-width: 767px) {
  .testimonials .slick-arrow {
    display: none !important;
  }
  .testimonials .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    margin-top: 16px;
  }
  .testimonials .slick-dots li {
    list-style-type: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-indent: -99999px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .testimonials .slick-dots li.slick-active {
    background-color: rgba(0, 112, 184, 0.3);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .testimonials .slick-arrow {
    bottom: calc(100% + 34px);
  }
  .testimonials .slick-arrow.slick-prev {
    right: 100px;
  }
  .testimonials .slick-arrow.slick-next {
    right: 0;
  }
}
@media (min-width: 1280px) {
  .testimonials .slick-arrow.slick-prev {
    right: 110px;
  }
  .testimonials .slick-arrow.slick-prev:hover {
    right: 116px;
  }
  .testimonials .slick-arrow.slick-next {
    right: 0;
  }
  .testimonials .slick-arrow.slick-next:hover {
    right: -6px;
  }
}

.testimonials-controls {
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-controls__paging {
  width: 50px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .testimonials-section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .testimonials-controls {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .testimonials-section {
    padding-bottom: 101px;
  }
  .testimonials__card {
    min-height: 270px;
    padding-top: 30px;
  }
  .testimonials-controls {
    height: 45px;
  }
  .testimonials-controls__paging {
    width: 35px;
  }
}
@media (min-width: 1280px) {
  .testimonials-section {
    padding-bottom: 201px;
  }
  .testimonials__card {
    min-height: 308px;
  }
  .testimonials-controls {
    height: 56px;
  }
}
.full-height-section {
  min-height: calc(100vh - 72px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 15px;
}

.card {
  -webkit-box-shadow: 0px 4px 14.9px 0px rgba(0, 112, 184, 0.36);
          box-shadow: 0px 4px 14.9px 0px rgba(0, 112, 184, 0.36);
  background: #FFFAFA;
  border-radius: 24px;
  padding: 40px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 100%;
  color: #41474A;
}
.card .btn {
  width: 100%;
}
.card .btn--google {
  margin-top: 24px;
}
.card h4 {
  margin-bottom: 8px;
}
.card .logo {
  margin-bottom: 16px;
  margin-right: 0;
}

.custom-form {
  width: 100%;
}
.custom-form__row:not(:first-child) {
  margin-top: 8px;
}
.custom-form__row {
  position: relative;
}
.custom-form__row--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-form__eye {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 16px;
  background: url(../img/icons/eye.svg) no-repeat 50% 50%;
  z-index: 5;
  cursor: pointer;
}
.custom-form__eye.active {
  background-image: url(../img/icons/eye-opened.svg);
}
.custom-form input:not([type=checkbox]) {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border: 1px solid #17100E;
  padding-left: 16px;
  padding-right: 16px;
}
.custom-form input[type=checkbox] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 768px) {
  .card {
    max-width: 436px;
  }
}
.login {
  font-weight: 500;
}
.login__or {
  padding-top: 26px;
  padding-bottom: 26px;
}
.login__bottom {
  width: 100%;
  padding-top: 44px;
  text-align: center;
}
.login a {
  font-weight: 600;
}

.blue-line {
  width: 100%;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #0070B8;
}

.grey-line {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #D3D3D3;
}

.pricing__row {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__plan {
  padding: 8px 24px;
  margin-bottom: 4px;
  border-radius: 12px;
  background-color: rgba(0, 112, 184, 0.3);
  font-size: 24px;
  line-height: 1;
  color: #17100E;
  font-weight: 700;
}
.pricing__list {
  width: 100%;
  margin-bottom: 32px;
}
.pricing h4 {
  font-size: 24px;
  margin-bottom: 16px;
}
.pricing .logo {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .pricing {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .pricing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .pricing {
    padding-top: 25px;
    padding-bottom: 165px;
  }
}

.check-list {
  list-style: none;
}
.check-list li {
  padding-top: 3px;
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-list li:before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 24px;
  background: url(../img/icons/check.svg) no-repeat 50% 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.check-list li + li {
  margin-top: 24px;
}

.my-account {
  padding-top: 60px;
  padding-bottom: 95px;
  font-size: 16px;
  font-weight: 500;
}
.my-account > .my-account__row:not(:last-child) {
  margin-bottom: 64px;
}
.my-account__row, .my-account__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.my-account__credits {
  width: 100%;
  margin-bottom: 50px;
}
.my-account__credits .blue-line {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-account__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.my-account ul {
  margin-top: 8px;
  list-style: none;
  line-height: 1.375;
}
.my-account ul li:not(:first-child) {
  margin-top: 10px;
}
.my-account input {
  font-size: 16px;
}
.my-account input[readonly] {
  height: 28px;
  color: #888888;
  border: none;
  outline: none;
  background-color: transparent;
}
.my-account input[readonly][type=password] {
  padding-top: 3px;
}
@media (max-width: 991px) {
  .my-account > .my-account__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-account__row {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .my-account__col {
    gap: 24px;
  }
}
@media (max-width: 480px) {
  .my-account__col {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .my-account__col {
    gap: 50px;
  }
  .my-account h4 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .my-account__row {
    gap: 150px;
  }
  .my-account__row--plan {
    gap: 24px;
  }
  .my-account__credits {
    max-width: 617px;
  }
}

.text-label {
  min-width: 75px;
  height: 36px;
  padding: 4px 8px;
  background: rgba(0, 112, 184, 0.3);
  font-size: 16px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
}

.text-icon-btn {
  position: relative;
  padding-top: 0;
  padding-bottom: 4px;
  color: #0070B8;
  font-weight: 500;
  border: none;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.text-icon-btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #0070B8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.text-icon-btn:hover:after {
  right: 0;
}
.text-icon-btn svg,
.text-icon-btn img {
  margin-right: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.text-icon-btn.opened img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search {
  max-width: 1395px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 32px;
}
.search__sidebar {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.search__results {
  overflow: auto;
}
@media (max-width: 767px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .search__sidebar {
    max-width: 305px;
  }
}

.filters {
  border-radius: 12px;
  padding: 40px 16px;
}
.filters label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}
.filters select {
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border-radius: 12px;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid #D3D3D3;
  background: #fff url(../img/icons/arrow-down.svg) no-repeat calc(100% - 16px) 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #888888;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.filters select::-ms-expand {
  display: none;
}
.filters .btn {
  width: 100%;
  margin-top: 32px;
}
.filters .custom-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters .custom-checkbox__icon {
  width: 16px;
  height: 16px;
  border: 1px solid #41474A;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 4px;
}
.filters .custom-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  left: 0;
}
.filters .custom-checkbox input[type=checkbox]:checked + .custom-checkbox__icon {
  background: url(../img/icons/check.svg) no-repeat 50% 50%/16px auto;
}

.js-more-filters {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.additional-filters {
  margin-top: 5px;
}

.justify-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-card {
  width: 974px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #0070B8;
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.33;
  color: #17100E;
}
.search-card:not(:last-child) {
  margin-bottom: 16px;
}
.search-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-card__row--justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.search-card__row--align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.search-card__row--socials {
  padding-left: 16px;
  padding-bottom: 9px;
  gap: 8px;
  min-width: 164px;
}
.search-card__row--socials a {
  width: 16px;
  height: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-card__row--socials span {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.search-card__row--counters {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 600;
}
.search-card__row--counters div {
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
}
.search-card__row:not(:last-child) {
  margin-bottom: 4px;
}
.search-card__label {
  width: 101px;
  padding-left: 16px;
  padding-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #888888;
  line-height: 28px;
}
.search-card__tag {
  border: 1px solid #0070B8;
  padding: 0 16px;
  border-radius: 12px;
  height: 28px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-card__tag span {
  margin-left: 8px;
}
.search-card__result--in-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.search-card__result--text {
  padding-top: 6px;
  padding-bottom: 6px;
}
.search-card__result--links {
  gap: 32px;
}
.search-card__result--language .search-card__tag {
  min-width: 99px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-card__avatar {
  width: 48px;
  height: 48px;
  border-radius: 20px;
  overflow: hidden;
}
.search-card__avatar img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.search-card .btn {
  height: 36px;
  width: 171px;
}
.search-card p {
  line-height: 1.33;
}
.search-card p:not(:last-child) {
  margin-bottom: 4px;
}
.search-card a:not(.btn) {
  text-decoration: none;
}
.search-card a:not(.btn):hover {
  text-decoration: underline;
}
.search-card .blured {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.search-pagination {
  width: 974px;
  padding-top: 31px;
}
.search-pagination ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.search-pagination a,
.search-pagination span {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #17100E;
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: none;
}
.search-pagination a.search-pagination__active,
.search-pagination span.search-pagination__active {
  background-color: #0070B8;
  border-color: #0070B8;
  color: #fff;
}
.search-pagination a:hover,
.search-pagination span:hover {
  background-color: #fff;
  border-color: #0070B8;
}
.search-pagination a.search-pagination__first img,
.search-pagination span.search-pagination__first img {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.footer__links {
  padding-top: 40px;
  border-top: 4px solid #0070B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links ul {
  list-style: none;
}
.footer__links li {
  margin-bottom: 24px;
}
.footer__links a {
  text-decoration: none;
  color: #41474A;
}

.copy {
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: center;
}

@media (max-width: 1279px) {
  .footer__links {
    font-size: 12px;
  }
  .copy {
    padding-top: 31px;
  }
}
@media (max-width: 480px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .footer__links {
    padding-bottom: 33px;
    font-size: 14px;
  }
  .footer h4 {
    font-size: 24px;
  }
  .copy {
    padding-top: 43px;
  }
}